html{
    scroll-behavior:smooth;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.w {
    width: 1200px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

em,
i {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

a {
    color: #D6D6D6;
    text-decoration: none !important;
}

p {
    margin-bottom: unset !important;
}

label{
    margin-bottom: unset !important;
}

a:active{
    color: #D6D6D6;
    text-decoration: none !important;
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}

.navi-logo{
    height: 46px;
    margin-left: 10px;
}

.nav-bar{
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    backdrop-filter: saturate(180%) blur(20px)!important;
    z-index: 99!important;
}

.login-nav-btn{
    background: #886be4;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.login-nav-btn:hover{
    background: #6c4dbd;
}

.nav-content{
    margin-right: 30px;
}

.nav-title a{
    color: #343434 !important;
    transition: ease 0.3s;
}

.nav-title a:hover{
    color: #886be4 !important;
}

.avatar{
    width: 46px;
}

.nav-toggler{
    margin-right: 20px;
    background-color: transparent;
    width: 46px!important;
    height: 46px;
}

.nav-toggler:focus{
    border-color: transparent;
    box-shadow: none;
}

.form-info{
    font-size: 14px;
    color: #a4a4a4;
}

.form-input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-input:focus {
    border-color: #886be4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(150, 65, 255, 0.15);
}

.upload-img{
    width: 320px;
    height: 180px;
}

.segmentation{
    color: gray;
    border-bottom: none !important;
    background-color: gray;
}

.shrink-btn {
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    transition: ease 0.3s;
}

.shrink-btn:hover {
    box-shadow: 1px 1px 4px rgb(0 0 0 / 30%);
}

#shrink-svg {
    transition: ease 0.3s;
}

.btn-close{
    box-shadow: unset;
}
