@media screen and (max-width: 750px) {
    .center {
        width: 90vw;
        height: calc(100vh - 62px);
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 751px) {
    .center {
        width: 65%;
        height: calc(100vh - 62px);
        overflow: scroll;
    }
}

/*
set manage title
 */
.manage-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*

 */
@media (max-width: 750px) {
    .manage-input {
        box-shadow: none !important;
        width: 95% !important;
    }

    .builder {
        width: 95%;
    }

    .admin {
        width: 95%;
    }

    .no_admin{
        width: 95%;
    }

    .add-admin-input {
        width: calc(95% - 90px) !important;
    }

    .manage-submit-btn {
        position: absolute;
        right: 0;
        margin-right: 0 !important;
        border-radius: 5px !important;
    }

    .manage-dismiss-btn {
        position: absolute;
        right: 90px;
        margin-right: 0 !important;
        border-radius: 5px !important;
    }

    .manage-seg{
        width: 95%!important;
    }
}

/*
set manage input
 */
@media (min-width: 751px) {
    .manage-input {
        box-shadow: none !important;
        width: 90% !important;
    }

    .builder {
        width: 90%;
    }

    .admin {
        width: 90%;
    }

    .no_admin{
        width: 90%;
    }

    .add-admin-input {
        width: calc(90% - 90px) !important;
    }

    .manage-submit-btn {
        position: absolute;
        right: 0;
        margin-right: 0 !important;
        border-radius: 5px !important;
    }

    .manage-dismiss-btn {
        position: absolute;
        right: 90px;
        margin-right: 0 !important;
        border-radius: 5px !important;
    }

    .manage-seg{
        width: 90%!important;
    }
}

/*
set manage button
 */
.builder {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    padding: 15px;
    border-radius: 4px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.admin {
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    padding: 15px;
    border-radius: 4px;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

/*
set manage button
 */
.no_admin{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    align-items: flex-end;
    color: #757575;
}

.admin-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease .3s;
}

.admin-item:hover{
    border-radius: 15px;
    background-color: #eeeeee;
}

.admin-item-normal{
    display: flex;
    align-items: center;
}

.add-admin-container {
    display: flex;
    align-items: center;
}

.add_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 38px;
    background-color: #b6a4e6;
    margin-left: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.add_btn:hover {
    background-color: #8976e0;
}

#re_upload_background {
    cursor: pointer;
}

.manage-container {
    position: relative;
    margin-bottom: 100px;
}

.manage-basic-info{
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.manage-box-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px !important;
    color: #484848;
}

.manage-dismiss-btn{
    background: white;
    color: #e02929;
    border-style: solid;
    border-width: 1px;
    border-color: #e02929;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.manage-dismiss-btn:hover{
    background: #e02929;
    color: white;
}