.post-page-title {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.post-form-text {
    font-size: 16px;
    color: #707070;
    margin-bottom: 5px;
}

.post-form-input:focus {
    box-shadow: none;
}

#editor—wrapper {
    border: 1px solid #886be4;
    z-index: 100; /* 按需定义 */
    margin-bottom: 20px;
}

#editor—wrapper-edit {
    border: 1px solid #886be4;
    z-index: 100; /* 按需定义 */
    margin-bottom: 20px;
}

#toolbar-container {
    border-bottom: 1px solid #886be4;
}

#toolbar-container-edit {
    border-bottom: 1px solid #886be4;
}

#editor-container {
    height: 500px;
}

#editor-container-edit {
    height: 500px;
}

.camp-side-category {
    width: 300px;
}

.post-area-btn {
    width: 100px;
    font-size: 16px !important;
    font-weight: bold;
}

@media (max-width: 750px) {
    .post-area {
        left: 0;
        width: 100%;
    }
}

@media (min-width: 751px) {
    .post-area {
        left: 255px;
        width: calc(100% - 255px);
    }
}

.post-area-common {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 57px;
    background-color: #efefef;
    transition: ease 0.5s;
    align-items: center;
    justify-content: flex-end;
    border-width: 1px;
    border-style: solid;
    border-top-color: #d6d8d9;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.choose-category{
    margin-bottom: 130px;
}

.post-choice{
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #606060;
}

.post-choice-radio:checked{
    border-color: #886be4;
    background-color: #886be4;
}