<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='jquery/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/base.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery_3.5.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap@5.1.1.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md nav-bar">
    <!-- Brand -->
    <img class="justify-content-start navi-logo" src={{ url_for("static", filename="images/nav-logo.png") }}>

    <!-- Navbar links -->
    {% block button %}{% endblock %}

</nav>

{% block body %}{% endblock %}

</body>
</html>