<div class="container-box" id="container-box">
    <div class="center" id="center-box">
        <h4 class="profile-page-title">Privacy and Security</h4>

        <hr class="segmentation">

        <p class="privacy-title">
            Password and authentication
        </p>

        <div class="privacy-container">
            <div class="privacy-content">
                <p class="privacy-little-title">
                    Two-Factor Authentication
                </p>
                <p class="privacy-text">
                    If you want to change your password, we will use two-factor authentication technology to protect
                    your account security.
                </p>
                <button class="profile-basic-info-edit" data-bs-toggle="modal" data-bs-target="#edit-password">Change
                </button>
            </div>
            <div class="privacy-img">
                <img src="{{ url_for("static", filename="images/privacy.png") }}" id="privacy-img">
            </div>
        </div>

        <hr class="segmentation">

        <p class="privacy-title">
            Delete My Account
        </p>
        <div class="privacy-container">
            <div class="privacy-content">
                <p class="privacy-little-title">
                    Safety Verification
                </p>
                <p class="privacy-text">
                    This operation cannot be restored after the account is deleted.
                </p>
                <button class="profile-basic-info-edit" id="delete-account">Delete</button>
            </div>
            <div class="privacy-img">
                <img src="{{ url_for("static", filename="images/delete.png") }}" id="privacy-img">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-password">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="{{ url_for("user.editprofile") }}" method="POST" id="change_pswd">
                <div class="modal-body">
                    <div class="row modal-body-row">
                        <div class="col">
                            <label for="captcha" class="form-label add-information">Captcha</label>
                            <div class="input-group add-input">
                                <input type="text" class="form-control add-input camp-side-add-input" name="captcha" id="captcha"
                                       placeholder="Code">
                                <button id="captcha-btn"
                                        class="btn btn-outline-secondary input-group-text captcha-btn add-input camp-side-add-input"
                                        type="button">
                                    Send
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-body-row">
                        <div class="col">
                            <label for="password" class="form-label add-information">New Password</label>
                            <input class="form-control add-input camp-side-add-input" type="password"
                                   id="password" name="password">
                        </div>
                    </div>
                    <div class="row modal-body-row">
                        <div class="col">
                            <label for="password_con" class="form-label add-information">Confirm Password</label>
                            <input class="form-control add-input camp-side-add-input" type="password"
                                   id="password_con" name="password_con">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="login-nav-btn" data-bs-dismiss="modal" onclick="confirm_pswd()">Confirm</button>
                </div>
            </form>

        </div>
    </div>
</div>