<div class="container-box" id="container-box">
    <div class="center" id="center-box">

        <h4 class="profile-page-title">My Account</h4>
        <div class="profile-container">
            <div class="profile-decoration"></div>
            <div class="avatar-container">
                {% if user.avatar == "default.png" %}
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="avatar" class="layui-nav-img profile-img" id="avatar">
                {% else %}
                    <img class="layui-nav-img profile-img" id="avatar" src="../static/upload/avatar/{{ user.avatar }}" alt="avatar">
                {% endif %}
                <p class="profile-username">{{ user.username }}</p>
            </div>
            <div class="profile-info">
                <div class="profile-info-block">
                    <div class="profile-info-area">
                        <p class="profile-info-title">Username</p>
                        <p class="profile-info-content">{{ user.username }}</p>
                    </div>
                    <button class="profile-info-button" onclick="edit_name()">Edit</button>
                </div>

                <div class="profile-info-block">
                    <div class="profile-info-area">
                        <p class="profile-info-title">E-mail</p>
                        <p class="profile-info-content">{{ user.email }}</p>
                    </div>
                </div>

                <div class="profile-info-block">
                    <div class="profile-info-area">
                        <p class="profile-info-title">Description</p>
                        {% if user.description == None %}
                            <p class="profile-info-content">Here is empty~</p>
                        {% else %}
                            <p class="profile-info-content">{{ user.description }}</p>
                        {% endif %}
                    </div>
                    <button class="profile-info-button" onclick="edit_description()">Edit</button>
                </div>
            </div>
        </div>

        <hr class="segmentation">

        <h4 class="profile-page-title profile-page-title-basic">Basic Information</h4>
        <div class="profile-basic-info-area">
            <div class="profile-basic-info">
                <div class="profile-basic-info-left">
                    <div class="profile-basic-info-block">
                        <div class="profile-basic-info-content">
                            <p class="profile-info-title">
                                Gender
                            </p>
                            {% if user.gender == None %}
                                <p class="profile-info-content">
                                    Unset
                                </p>
                            {% else %}
                                <p class="profile-info-content">
                                    {{ user.gender }}
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="profile-basic-info-block">
                        <div class="profile-basic-info-content">
                            <p class="profile-info-title">
                                Birthday
                            </p>
                            {% if user.birthday == None %}
                                <p class="profile-info-content">
                                    Unset
                                </p>
                            {% else %}
                                <p class="profile-info-content">
                                    {{ birthday }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="profile-basic-info-right">
                    <div class="profile-basic-btn-area">
                        <button class="profile-basic-info-edit" data-bs-toggle="modal" data-bs-target="#edit-profile">
                            Edit
                        </button>
                    </div>
                    <div class="profile-info-location">
                        <p class="profile-info-title">
                            Location
                        </p>
                        <p class="profile-info-content">
                            China
                        </p>
                    </div>
                </div>
            </div>

            <hr class="segmentation" id="profile-seg">

            <div class="my-activity">
                <div class="my-activity-title">
                    <p id="my-activity-title">Recent Activity</p>
                </div>

                {% if latest_post == None %}
                    <div class="no_activity">
                        <img id="no_activity" src="{{ url_for("static", filename="images/no_activity.png") }}">
                    </div>
                {% else %}
                    <div class="my-activity-content">
                        <a class="my-activity-content-title" href="/camp/{{ latest_post.camp_id }}/{{ latest_post.category_id }}/{{ latest_post.id }}">
                            {{ latest_post.title }}
                        </a>
                        <div class="my-activity-content-area">
                            <p>{{ latest_post.description }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-profile">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Basic Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="{{ url_for("user.editprofile") }}" method="POST">
                <div class="modal-body">
                    <div class="row modal-body-row">
                        <div class="col">
                            <label for="gender" class="form-label add-information">Gender:</label>
                            <select class="form-select add-input camp-side-add-input" id="gender" name="gender">
                                <option value="Unset">Unset</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="col">
                            {#                            due date#}
                            <label for="birthday" class="form-label add-information">Due Date:</label>
                            <input class="form-control add-input camp-side-add-input" type="date"
                                   id="birthday" name="birthday"
                                   required="required">
                        </div>
                    </div>
                    <div class="row modal-body-row">
                        <p class="add-information">Attention: We will get your location automatically, you do not need
                            to change it.</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="login-nav-btn" data-bs-dismiss="modal">Confirm</button>
                </div>
            </form>

        </div>
    </div>
</div>